html,
body {
    color: #444;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
}

img {
    max-height: 400px;
    margin: 0 auto;
    object-fit: contain;
}

p {
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: inherit;
}


/* STYLES FOR POSTS TEMPLATE*/

.pageHeader {
    width: 100%;
    height: 300px;
    position: relative;
}

.pageHeader img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: center;
}

.pageHeader h1 {
    position: absolute;
    font-family: "PT Sans", sans-serif;
    top: 30%;
    text-align: center;
    font-size: 40px;
    width: 100%;
    color: white;
    text-transform: uppercase;
}

.category {
    font-size: 20px;
}


/* END STYLES FOR POSTS TEMPLATE */